'.source.scss':
  'Scss ui element accordion':
    'prefix': 'ui-accordion'
    'body': """
      $accordion-label-background: ;
      $accordion-label-color: ;
      $accordion-label-margin: 0;
      $accordion-label-padding: 18px 60px 18px 0;
      $accordion-transition: .3s;
      $accordion-li-background: none;
      $accordion-li-color: ;
      $accordion-label-hover-background: ;
      $accordion-label-hover-color: ;
      $accordion-icon-color: ;
      $accordion-icon-font-size: ;
      $accordion-content-font-size: ;
      $accordion-content-color: ;


      .accordion {
        list-style: none;
        margin: 0;
        padding: 0;

        > li {
          background: $accordion-li-background;
          border-bottom: 1px solid $1;
          color: $accordion-li-color;
          position: relative;

          + li {
            margin-top: 10px;
          }
        }

        label {
          @include font-size(20, 21);

          background: $accordion-label-background;
          display: block;
          margin: $accordion-label-margin;
          padding: $accordion-label-padding;
          position: relative;
          transition: color $accordion-transition $ease-out-back;

          &:hover {
            background: $accordion-label-hover-background;
            color: $accordion-label-hover-color;

            &::before {
              color: $4;
            }
          }

          &::before {
            @include position(absolute, 20px 20px null null);
            @include icon('plus');
            @include size(20px);

            color: $accordion-icon-color;
            font-size: $accordion-icon-font-size;
            transition: all $accordion-transition $ease-out-back;
          }
        }

        input[type='radio'],      //scss-lint:disable QualifyingElement
        input[type='checkbox'] {
          @include position(absolute, 0 0 0 0);
          @include size(100%);

          appearance: none;
          cursor: pointer;
          opacity: 0;
          outline: none;
          z-index: 1;

          &:checked {
            ~ label {
              color: $4;
            }

            ~ label::before {
              @include icon('minus');

              color: $4;
            }

            ~ .content {
              border-color: $1;
              max-height: 2500px;
              overflow-y: auto;
              transition: max-height $accordion-transition ease-in;
            }
          }

          &:hover,
          &:focus {
            ~ label {
              color: $4;

              &::after {
                background: $4;
              }

              &::before {
                color: $4;
              }

              + .content {
                border-color: transparent;
                z-index: 1;
              }
            }
          }
        }

        .content {
          background: $3;
          border-top: 1px solid transparent;
          font-size: $accordion-content-font-size;
          margin: 0;
          max-height: 0;
          overflow: hidden;
          position: relative;
          transition: max-height $accordion-transition ease-out;
          z-index: 1;

          .content-copy {
            @include conf('type.p');

            color: $accordion-content-color;;
            padding: 30px 0;
          }

          > * {
            margin: 0;
            padding: 0;
          }

          .checkboxes.field label:first-child,
          .radios.field label:first-child {
            margin-top: 0;
          }
        }

        + .accordion {
          margin-top: -1px;
        }
      }
    """
