'.source.scss':
  'Scss ui element button':
    'prefix': 'ui-button'
    'body': """
      $background-color: $1;
      $box-size: 2px;
      $button-border: 1px solid $font-color;
      $button-font-size: 12px;
      $button-icon-font-size: 20px;
      $button-padding-big: 19px 50px 20px;
      $button-padding-small: 9px 10px 6px;
      $button-padding: 11px 50px;
      $button-radius: 0;
      $button-text-decoration: none;
      $disabled-border-color: $2;
      $disabled-font-color: $3;
      $font-color: $4;
      $icon-margin-right: 15px;
      $secondary-background-color: $5;
      $secondary-disabled-background-color: $6;
      $secondary-disabled-font-color: $7;
      $secondary-font-color: $8;
      $secondary-hover-background-color: $9;
      $secondary-hover-font-color: $10;
      $transition-time: .3s;

      .button {
        appearance: none;
        background: $background-color;
        border: $button-border;
        border-radius: $button-radius;
        box-shadow: inset 0 0 0 $box-size transparent;
        color: $font-color;
        cursor: pointer;
        display: inline-block;
        font-size: $button-font-size;
        margin: 0;
        outline: 0;
        padding: $button-padding;
        text-align: center;
        text-decoration: $button-text-decoration;
        vertical-align: middle;
        transition: all $transition-time ease-in-out;
        // Gets rid of tap active state
        -webkit-tap-highlight-color: transparent;

        &:hover {
          box-shadow: inset 0 0 0 $box-size-hover $border-color;
        }

        &.secondary {
          background: $secondary-background-color;
          border: 0;
          color: $secondary-font-color;

          &.disabled,
          &:disabled {
            background: $secondary-disabled-background-color;
            color: $secondary-disabled-font-color;
          }

          &:hover {
            background: $secondary-hover-background-color;
            box-shadow: none;
          }
        }

        &.disabled,
        &:disabled {
          border-color: $disabled-border-color;
          color: $disabled-font-color;
          pointer-events: none;
        }

        &.small {
          padding: $padding-small;
          text-transform: none;
        }

        &.wide {
          width: 100%;
        }

        &.big {
          padding: $padding-big;
        }

        &.iconed {
          i {
            margin-right: $icon-margin-right;

            &::before { font-size: $button-icon-font-size; }
          }

          i,
          span {
            display: inline-block;
            vertical-align: middle;
          }
        }

        &.button-block {
          display: block;
        }
      }
    """
