'.source.scss':
  'Scss ui element checkbox':
    'prefix': 'ui-checkbox'
    'body': """
      $checkbox-background: $1;
      $checkbox-border-color: $2;
      $checkbox-border: 1px solid $3;
      $checkbox-color: $4;
      $checkbox-disabled-border-color: $5;
      $checkbox-disabled-color: $checkbox-disabled-border-color;
      $checkbox-font-size: 14px;
      $checkbox-hover-border-color: $checkbox-border-color;
      $checkbox-margin: 0;
      $checkbox-padding: 9px 0 9px 40px;

      .checkbox {
        display: block;
        margin: $checkbox-margin;
        padding: $checkbox-padding;
        position: relative;
        vertical-align: middle;

        .ff-wrapper {
          @include position(absolute, null 0 null 0);
          @include size(30px);

          padding: 0;
          text-align: center;
          top: 50%;
          transform: translateY(-50%);
        }

        input {
          @include position(absolute, 0 null null -99999px);
          @include appearance(none);
          @include size(0);

          border: 0;
          padding: 0;

          &:hover,
          &:focus {
            box-shadow: none;

            + .ff-toggleable {
              border-color: $checkbox-hover-border-color;
              box-shadow: inset 0 0 0 1px $checkbox-hover-border-color;
            }
          }

          &:focus {
            outline: none;
          }

          &:checked + .ff-toggleable::after {
            @include position(absolute, 0 null null 5px);
            @include size(20px);
            @include icon('checkmark');

            color: $checkbox-color;
            font-size: $checkbox-font-size;
            text-align: center;
          }

          &:disabled,
          &.disabled {
            + .ff-toggleable {
              border-color: $checkbox-disabled-border-color;

              &:hover {
                border-color: $checkbox-disabled-border-color;
              }
            }

            &:checked + .ff-toggleable::after {
              color: $checkbox-disabled-color;
            }

            &:hover,
            &:focus {
              box-shadow: none;

              + .ff-toggleable {
                box-shadow: none;
              }
            }
          }
        }

        &.disabled {
          color: $checkbox-disabled-border-color;
        }

        .ff-toggleable {
          @include transition(box-shadow .2s ease-in-out);
          @include size(30px);

          background: $checkbox-background;
          border: $checkbox-border;
          box-shadow: inset 0 0 0 1px transparent;
          cursor: pointer;

          &:hover {
            border-color: $checkbox-border-color;
          }
        }
      }
    """
